<div class="row">
  <div class="col-xs-6">
    <p>
      <%= title %>
    </p>
  </div>
  <div class="col-xs-6">
    <p>
      <span class="label label-default"><%= (content || "N/A") %></span>
    </p>
  </div>
</div>