<div class="btn-group">
  <button type="button" class="btn disabled">Type</button>
  <button type="button" class="btn btn-primary disabled"><%= (content['type'] || "N/A") %></button>
</div>

<div class="btn-group">
  <button type="button" class="btn disabled">Priority</button>
  <button type="button" class="<%= 'btn disabled ' + "btn-#{content['priority']}"%>"><%= (content['priority'] || "N/A") %></button>
</div>

<div class="btn-group">
  <button type="button" class="btn disabled">Status</button>
  <button type="button" class="<%= 'btn disabled ' + "btn-#{content['status']}"%>"><%= (content['status'] || "N/A") %></button>
</div>