<div class="row">
  <div class="col-xs-12 text-center">
    <div class="well">
      <h1><%= title %></h1>
      <div class="row">
        <div class="col-xs-12 text-right">
          <a href="<%= url %>" class="btn btn-primary btn-block"><%= title %></a>
        </div>
      </div>
    </div>
  </div>
</div>
