<div class='container'>
  <div class="content jumbotron text-center">
    <h1>Ticket Viewer</h1>
  </div>
  <%= render "contact" %>
  <%= render "link", title: "LinkedIn", url: "https://www.linkedin.com/in/han-liang-alvin-s-055715150/" %>
  <%= render "link", title: "GitLab", url: "https://gitlab.com/7ail" %>
  <%= render "link", title: "Project Source", url: "https://gitlab.com/7ail/zendesk-coding-challenge" %>
</div>
