<div class='container'>
  <div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error!!!</strong> <%= "#{@error}(#{@code}): #{@message}."%>
  </div>

  <a href=<%= root_path %>>
    <div class="error-content jumbotron text-center">
      <h1>HOME</h1>
    </div>
  </a>

  <a href=<%= "#{ENV['ZENDESK_URL']}/auth/v2/login/signin" %>>
    <div class="error-content jumbotron text-center">
      <%= image_tag "zendesk-wordmark.svg" %>
    </div>
  </a>
</div>
