<ul class="pager">
  <% if @response.body['previous_page'] %>
  <li class="previous">
    <a href=<%= zendesk_list_tickets_path(page: params['page'].to_i - 1) %>>Previous</a>
  </li>
  <% end %>
  <% if @response.body['next_page'] %>
  <li class="next">
    <a href=<%= zendesk_list_tickets_path(page: params['page'].to_i + 1) %>>Next</a>
  </li>
  <% end %>
</ul>